$primary:  orange;
$secondary :#FA5959;


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/bootstrap";



.mycard:nth-child(1)
{
    margin-top: 2%;
    height: max-content;
}

.mycard:nth-child(2)
{
    margin-top: 4%;
    height: max-content;
}

.mycard:nth-child(3)
{
    margin-top: 6%;
    height: max-content;
}

#twitter-link{
    background:url("../images/icon-twitter.svg") center no-repeat; 
}


#twitter-link:hover{
    background-image: url("../images/icon-twitter-red.svg");
}

#facebook-link{
    background:url("../images/icon-facebook.svg") center no-repeat; 
}

#facebook-link:hover{
    background-image: url("../images/icon-facebook-red.svg");
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: $danger;
}


.btn:hover{
    color: $primary;
    background-color: $light;
    border:1pt solid $primary;

}

.btn-danger:hover{
    color: $danger;
    background-color: $light;
    border:1pt solid $danger;

}

.btn-light:hover{
    color: $dark;
    background-color: $light;
    border:1pt solid $dark;

}

.accordion-button:hover{
    color:$primary;
}

.nav-link:hover{
    color: $primary;
    
}

.nav-link.active {
    color: $primary;
    border-top:none;
    border-image: linear-gradient(90deg, rgba(0,0,0,0) 30%, rgba(255,165,0,1) 30%, rgba(255,165,0,1) 70%, rgba(0,0,0,0) 70%);
    border-image-slice: 1;
}
  

.nav-link {
    color: $gray-500;
    border-bottom: 1pt solid $nav-tabs-border-color; 
}

@include media-breakpoint-down(lg) {
    .nav-link {
        border-top: 1pt solid $nav-tabs-border-color; 
    }
}
